* {
  margin: 0%;
  padding: 0%;
}

body {
  background-image: url("../images/bg0.jpg"), url("../images/bg09.jpg"); 
  background-size: 100% 50%, 100% 50%; 
  background-repeat: no-repeat;
  background-position: top, bottom; 
  margin: 0; 
  height: 100vh; 
}

/* Set up full height layout */
html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Background */
body {
  font-family: Arial, sans-serif;
}

/* Main layout */
main {
  padding: 20px;
  width: 600px;
  margin-top: 20px;
  margin-left: 30px;
}

/* Header Style */
header {
  background-color: #ffffff;
  color: #070707;
  text-align: center;
  padding: 20px 0;
}

header h1 {
  margin: 0;
  font-weight: bold;
  font-size: 32px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: #040404;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* Section Styles */
section {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

section h2 {
  color: #f5eded;
}

form {
  margin: 10px auto;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #333;
  color: #ece6e6;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

/* Align the entire main section to the left */
main {
  margin: 0; 
  padding: 20px; 
  text-align: left; 
  width: 300px; 
  float: left; 
}
h2 {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.6);
}
p {
  color: rgb(58, 5, 5);
}
.text-section {
  padding: 20px;
  margin-top: 215px;
}
.diet-plan {
  column-count: 2; 
  column-gap: 20px; 
}
.diet-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.day {
  flex: 1 1 calc(50% - 20px); 
}

a:hover {
  color: rgb(209, 27, 27); 
}
h1,
p {
  background: rgba(255, 255, 255, 0.6);
  font-size: 30hspx;
}
